<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>乐淘后台管理系统-二级分类</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/bootstrap-validator/css/bootstrapValidator.min.css">
    <link rel="stylesheet" href="assets/nprogress/nprogress.css">
    <link rel="stylesheet" href="css/admin.css">
</head>
<body>
<!--侧边栏-->
<aside class="ad_aside">
    <div class="brand"><a href="index.html">ITCAST</a></div>
    <div class="user">
        <img src="images/default.png" alt="">
        <span>超级管理员</span>
    </div>
    <div class="menu">
        <ul>
            <li><a href="userManage.html"><span class="glyphicon glyphicon-user"></span> 用户管理</a></li>
            <li>
                <a href="javascript:;"><span class="glyphicon glyphicon-list"></span> 分类管理</a>
                <div class="child">
                    <a href="categoryFirst.html">一级分类</a>
                    <a class="now" href="categorySecond.html">二级分类</a>
                </div>
            </li>
            <li><a href="productManage.html"><span class="glyphicon glyphicon-tags"></span> 商品管理</a></li>
        </ul>
    </div>
</aside>
<!--内容-->
<section class="ad_section">
    <nav class="ad_nav">
        <a data-menu="" href="javascript:;"><span class="glyphicon glyphicon-align-justify"></span></a>
        <a data-logout="" href="#myModal" data-toggle="modal" ><span class="glyphicon glyphicon-log-out"></span></a>
    </nav>
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li><a href="index.html">管理系统</a></li>
            <li class="active">分类管理</li>
            <li class="active">二级分类</li>
        </ol>
        <div class="ad_content">
            <button class="btn btn-success mb_15">添加品牌</button>
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>序号</th>
                        <th>顶级分类</th>
                        <th>品牌名称</th>
                        <th>品牌商标</th>
                    </tr>
                </thead>
                <tbody>
                   <!--TODO-->
                </tbody>
            </table>
            <!--分页-->
            <nav class="text-right">
                <ul class="pagination">
                    <li>
                        <a href="#" >
                            <span>&laquo;</span>
                        </a>
                    </li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li>
                        <a href="#">
                            <span >&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</section>
<div class="modal fade" id="addCategory">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title">添加品牌</h4>
            </div>
            <div class="modal-body">
                <form id="addBrandForm" autocomplete="off">
                    <div class="form-group">
                        顶级分类：
                        <div class="dropdown" style="display: inline-block">
                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                                <span class="text">请选择</span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <!--TODO-->
                            </ul>
                        </div>
                        <input type="hidden" name="categoryId">
                    </div>
                    <div class="form-group">
                        <input type="text" name="brandName" class="form-control" placeholder="请输入品牌名称">
                    </div>
                    <div class="form-group" style="position: relative">
                        <input type="file" name="pic1" id="fileUpload">
                        <button class="btn btn-default">上传图片</button>
                        <input type="hidden" name="brandLogo">
                    </div>
                    <div class="imgBox">
                        <img src="images/none.png" width="100" height="100" alt="">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="submit" form="addBrandForm" class="btn btn-primary">添加</button>
            </div>
        </div>
    </div>
</div>
<script type="text/template" id="list">
    <% for(var i = 0 ; i < rows.length ; i++){%>
    <% var item = rows[i]; %>
    <tr>
        <td><%=(page-1)*size+i+1%></td>
        <td><%=item.categoryName%></td>
        <td><%=item.brandName%></td>
        <td><img onerror="this.src='/admin/images/none.png'" src="<%=item.brandLogo%>" alt="" width="60" height="60"></td>
    </tr>
    <% } %>
</script>
<script type="text/template" id="topCategoryTpl">
    <% for(var i = 0 ; i < rows.length ; i++){%>
    <% var item = rows[i]; %>
    <li><a href="javascript:;" data-id="<%=item.id%>" data-text="<%=item.categoryName%>"><%=item.categoryName%></a></li>
    <% } %>
</script>
<script src="assets/jquery/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/artTemplate/template-native.js"></script>
<script src="assets/bootstrap-paginator/bootstrap-paginator.min.js"></script>
<script src="assets/bootstrap-validator/js/bootstrapValidator.min.js"></script>
<script src="assets/jquery-fileupload/jquery.ui.widget.js"></script>
<script src="assets/jquery-fileupload/jquery.fileupload.js"></script>
<script src="assets/nprogress/nprogress.js"></script>
<script src="js/admin.js"></script>
<script src="js/categorySecond.js"></script>
</body>
</html>